<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="M6Entities" connectionString="metadata=res://*/Models.M6Model.csdl|res://*/Models.M6Model.ssdl|res://*/Models.M6Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MODE65;initial catalog=M6;persist security info=True;user id=mode_jun;password=M0detour!!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>