<?xml version="1.0"?>
<configuration>
	<system.serviceModel>
		<services>
			<service behaviorConfiguration="M6.WCF.WCFServiceBehavior" name="M6.WCF.WCFService">
				<endpoint address="" binding="wsHttpBinding" contract="M6.WCF.WCFService" bindingConfiguration="TheServiceBindingConfiguration">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<bindings>
			<wsHttpBinding>
				<binding name="TheServiceBindingConfiguration">
					<security mode="Message">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" establishSecurityContext="true"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior name="M6.WCF.WCFServiceBehavior">
					<serviceMetadata httpGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483646"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<system.web>
		<compilation debug="true"/>
	</system.web>
</configuration>